POSTGRES_DB=ticket_db
POSTGRES_USER=ticket_app
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD

DJANGO_SECRET_KEY=CHANGE_ME_STRONG_SECRET_KEY
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.50
DJANGO_CORS_ALLOW_ALL_ORIGINS=0
DJANGO_CORS_ALLOWED_ORIGINS=http://192.168.1.50
USE_WHITENOISE=1

# Optional for Django admin over https reverse proxies:
# DJANGO_CSRF_TRUSTED_ORIGINS=https://tudominio.com
