POSTGRES_DB=ticket_db
POSTGRES_USER=ticket_app
POSTGRES_PASSWORD=admin

DJANGO_SECRET_KEY=clavesecretad
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,10.49.23.140
DJANGO_CORS_ALLOW_ALL_ORIGINS=0
DJANGO_CORS_ALLOWED_ORIGINS=http://10.49.23.140
USE_WHITENOISE=1
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=60

# Optional for Django admin over https reverse proxies:
# DJANGO_CSRF_TRUSTED_ORIGINS=https://tudominio.com
